@model IList<BrandResponse>

@section Footer
{
    Home page
}

@{
    Layout = "_Layout";
}
<!DOCTYPE html>
<html>
<head>
    <title>My Shop</title>
    <style>
        .text {
            text-align: center;
        }
    </style>
</head>

<body>
    <div class="text">
        <h1>Welcome to the AliUkraine</h1>
        <p>
            AliUkraine — глобальная виртуальная торговая площадка, предоставляющая возможность покупать товары производителей из КНР и других стран.<br />
            Товары на площадке продаются в розницу и мелким оптом.
        </p>
    </div>
</body>
</html>
