@model Lesson19_1.ViewModel.LoginViewModel
@{
}
    <style>
        .b1 {
            background: blue; /* Синий цвет фона */
            color: white; /* Белые буквы */
        }
    </style>
<form method="post" asp-controller="Account" asp-action="Login">
    <div asp-validation-summary="ModelOnly"> </div>
    <div>
        <label asp-for="Email"></label><br />
        <input asp-for="Email" />
        <span asp-validation-for="Email"></span>
    </div>
    <div>
        <label asp-for="Password"></label><br />
        <input asp-for="Password" />
        <span asp-validation-for="Password"></span>
    </div>    <div>
        <input class="b1" type="submit" value="Login" />
    </div>
</form>
