<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/css/mainLayout.css" rel="stylesheet" />
</head>

<body>
    <ul>
        <li><a href="~/Home/Index">Home</a></li>
        <li><a href="~/Shop/Index">Shop</a></li>
        <li><a href="~/Shop/Basket">Basket</a></li>
        <li><a href="~/Shop/PurchaseHistory">History</a></li>
    </ul>

    <ul>
        <li><a href="~/BrandWeb/Index">Brends</a></li>
        <li><a href="~/ModelWeb/Index">Models</a></li>
    </ul>

    <ul class="topright">
        <li><a href="~/AuthWeb/Registration">Registration</a></li>
        <li><a href="~/AuthWeb/Login">Loginization</a></li>
        <li><a href="~/AuthWeb/Logout">Logout</a></li>
        <li><a href="~/Home/ContactUs">Contact Us</a></li>
    </ul>

    <hr noshade">
    <div>
        @RenderBody()
    </div>
    <p />
    <p />
    <footer>
        <small>
            @RenderSection("Footer", false)
            <br />
            Designed by Andrei Burtsev in 2020
            <br />
            All rights reserved. © 2020
        </small>
    </footer>
</body>
</html>