<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <style type="text/css">
        footer {
            font-family: 'Montserrat', sans-serif;
            opacity: .3;
        }
        body {
            background-color: #e9e9e9;
        }
        h1 {
            text-align: center;
        }
    </style>

</head>
<body>
    <ul>
        <li><a href="~/Home/Index">Home</a></li>
        <li><a href="~/Shop/Index">Shop</a></li>
        <li><a href="~/Shop/PurchaseHistory">History</a></li>
        <li><a href="~/Home/ContactUs">Contact Us</a></li>
        <li><a href="~/BrandWeb/Index">Brends</a></li>
        <li><a href="~/ModelWeb/Index">Models</a></li>
    </ul>
    <div>
        @RenderBody()
    </div>
    <p />
    <p />
    <footer>
        <small>
            @RenderSection("Footer", false)
            <br />
            Designed by Andrei Burtsev in 2020
            <br />
            All rights reserved. © 2020
        </small>
    </footer>
</body>
</html>