@model ModelResponse
@inject IBrandService BrandService
@{
    IList<BrandResponse> brands = await BrandService.GetBrandsAsync();
}
@{
    Layout = "_Layout";
}
<!DOCTYPE html>
<html>
<head>
    <title>Add Model</title>
    <script src="~/js/validatorModel.js"></script>
</head>
<body>
    <h1>Add</h1>
    <form method="post" onsubmit="return checkForm(this)">
        <table>
            <tr>
                <td>Name</td>
                <td><input type="text" name="Name" id="Name" /></td>
                @Html.DropDownList("BrandDataId", new SelectList(brands, "Id", "Name"), "Select Brand")
            </tr>
            <tr>
                <td>
                    <input type="submit" value="Add Model" />
                </td>
            </tr>
        </table>
        <p id='err_fio' class='error'></p>
    </form>
</body>
</html>