@{
    Layout = "_Layout";
}

<!DOCTYPE html>
<html>
<head>
    <title>Добавить Бренды</title>
</head>
<body>
    <h1>Добавление</h1>
    <form method="post">
        <table>
            <tr>
                <td>Name</td>
                <td><input type="text" name="Name" /></td>
                <td>Description</td>
                <td><input type="text" name="Description" /></td>
            </tr>
            <tr>
                <td>
                    <input type="submit" value="Add brand" />
                </td>
            </tr>
        </table>
    </form>
</body>
</html>