@{
    Layout = "_Layout";
}

<!DOCTYPE html>
<html>
<head>
    <title>Добавить Бренды</title>
    <script src="~/js/validator.js"></script>
</head>
<body>
    <h1>Добавление</h1>
    <form method="post" onsubmit="return checkForm(this)">
        <table>
            <tr>
                <td>Name</td>
                <td><input type="text" name="Name" id="Name" /></td>
            </tr>
            <tr>
                <td>Description</td>
                <td><textarea cols="30" placeholder="Description" name="Description" id="Description"></textarea></td>
            </tr>
            <tr>
                <td>
                    <input type="submit" value="Add brand" />
                </td>
            </tr>
        </table>
        <p id='err_fio' class='error'></p>
    </form>
</body>
</html>