@model BrandResponse

@{
    Layout = "_Layout";
}

<!DOCTYPE html>
<html>
<head>
    <title>Edit Brand</title>

    <style>
        .error {
            color: red;
        }
    </style>

    <script type="text/javascript">
        function checkForm(form) {

            if (document.getElementById('Description').value == "") {
                document.getElementById('err_fio').innerHTML = 'Fill in all the input fields!';
                return false;
            };
            return true;
        };
    </script>

</head>
<body>
    <h1>Edit</h1>
    <form method="post" onsubmit="return checkForm(this)">
        <div id="contact-form">
            <table>
                <tr>
                    <td>ID</td>
                    <td>@Model.Id</td>
                </tr>
                <tr>
                    <td>Name</td>
                    <td><input type="text" name="Name" value="@Model.Name" /></td>
                </tr>
                <tr>
                    <td>Description</td>
                    <td><input type="text" name="Description" value="@Model.Description" id="Description" /></td>
                </tr>
                <tr>
                    <td>
                        <input type="submit" value="Save" />
                    </td>
                </tr>
            </table>
            <p id='err_fio' class='error'></p>
        </div>
    </form>
</body>
</html>