@model ModelResponse
 
@{
    Layout = "_Layout";
}

<!DOCTYPE html>
<html>
<head>
    <title>About Model</title>
</head>
<body>
    <h1>About</h1>
        <table>
            <tr>
                <td>Name</td>
                <td>@Model.Name</td>
            </tr>
            <tr>
                <td>Brand</td>
                <td>@Model.BrandData.Name</td>
            </tr>
            <tr>
                <td>Description</td>
                <td>@Model.BrandData.Description</td>
            </tr>
            <tr>
                <td>
                 <a asp-controller="Shop" asp-action="AddToBasket" asp-route-id="@Model.Id">Add to basket</a> 
                </td>
            </tr>
        </table>
</body>
</html>