@model IList<BasketResponse>

@section Footer
{
    Basket Page
}

@{
    Layout = "_Layout";
}
<!DOCTYPE html>
<html>
<head>
    <title>Basket</title>
    <link rel="stylesheet" href="~/css/table_1.css">
    <style>
        body {
            background-color: #e9e9e9;
        }

        h1 {
            text-align: center;
        }
    </style>
</head>

<body>
    <h1 class="text">Basket</h1>
    <p>
        Items ready for purchase. If you want to delete the order click "Delete"
    </p>
    <input type="button" value="Make Order" onclick="location.href='IssueOrder'" />
    <table>
        <tr>
            <td>Model</td>
            <td>Brand</td>
            <td>Description</td>
            <td>Remove from basket</td>
        </tr>
        @foreach (var m in Model)
        {
            <tr>
                <td>@m.ModelData.Name</td>
                <td>@m.ModelData.BrandData.Name</td>
                <td>@m.Description</td>
                <td><input type="button" value="Delete" onclick="location.href='DeleteFromBasket/@m.Id'" /></td>
            </tr>
        }
    </table>
</body>
</html>