@model IList<ModelResponse>

@{
    Layout = "_Layout";
}
@section Footer
{
    Shop Page
}

<!DOCTYPE html>
<html>
<head>
    <title>Shop</title>
    <link rel="stylesheet" href="~/css/table_1.css">    
</head>

<body>
    <h1>Shop</h1>
    <p>
        You can read the product description by clicking on "Read about product"<br />
        You can immediately add the product to the basket by clicking "By product"
    </p>
    <table>
        <tr>
            <th>Name</th>
            <th>Brand</th>
            <th>About product</th>
            <th>To Basket</th>
        </tr>
        @foreach (var m in Model)
        {
            <tr>
                <td>@m.Name</td>
                <td>@m.BrandData.Name</td>

                <td><a asp-controller="Shop" asp-action="AboutProduct" asp-route-id="@m.Id">Read</a></td>
                <td><a asp-controller="Shop" asp-action="AddToBasket" asp-route-id="@m.Id">Add</a></td>
            </tr>
        }
    </table>
</body>
</html>